
.pc {display: none !important;}
.mo {display: block !important;}

header h1 {width: 150px; height: auto; float: none;  display: block; margin: 0 auto;margin-top: 10px;}
header nav {position: fixed; right: 0; top: 0; width: 100%; height: 100vh; background: rgba(0,0,0,0.5); z-index: 7; display: none;}
header nav .gnb {width: 200px; height: 100vh; position: fixed; display: block; background: #fff; padding: 0 20px; right: -200px; transition: 0.3s;}
header nav .gnb li {height: 60px; line-height: 60px; border-bottom: 1px solid #eee;}
header nav .gnb li:first-child {margin-top: 40px;}

header nav.on .gnb {right: 0;}


.mobile_menu {position: absolute; z-index: 7; right: 20px; top: 20px; width: 40px; height: 40px; background: var(--btnColor2); cursor: pointer;}
.mobile_menu span {position: absolute; width: 24px; height: 2px; background: #fff; left: 8px; top: 48%;}
.mobile_menu span:before, 
.mobile_menu span:after {content: ""; position: absolute; width: 100%; height: 100%; background: #fff; transition: 0.1s;}
.mobile_menu span:before {top: -8px;}
.mobile_menu span:after {top: 8px;}

.mobile_menu.on span {background: rgba(255,255,255,0);}
.mobile_menu.on span:before {transform: rotate(45deg); top: 0;}
.mobile_menu.on span:after {transform: rotate(-45deg); top: 0;}





#visual .bg3 {width: 80%; height: 600px; background-size: 100%; background-repeat: no-repeat; left: 50%; transform: translateX(-45%); top: auto;  bottom:-15vw}
#visual .text_box {width: 100%; }
#visual .text_box strong {width: 60%; left: 50%; top: 50%; transform: translate(-70%,30%); }
#visual .text_box p:nth-of-type(1) {left: 50%; top: 50%; transform: translate(-60%,80%); width: 50%; }
#visual .text_box p:nth-of-type(2) {left: 50%; top: 50%; transform: translate(-40%,105%); width: 50%; }
#visual .text_box img {width: 100%;}
 


#section1 .contbox .cont .widgetGalleryA {text-align: center; display: flex; justify-content: center;  margin: 0 auto; gap:20px; width:100% !important}
#section1 .contbox .cont .widgetGalleryA li {float: none; width: 32%; height:auto !important; margin-right: 0; position: relative;}
#section1 .contbox .cont .widgetGalleryA li > a > img{width: 100% !important; height:auto !important; position: absolute;} 




#section_box h2 strong {font-size: 80px;}
#section_box h2 span {font-size: 30px;}
#section2 .contbox .content {width: 100%;}
#section2 .bg_section2 .bg1 img {width: 100%;}
#section2 .contbox .phone em {font-size: 30px;}
#section2 .contbox .phone strong {font-size: 50px;}
#section3 .bg_section3 {display: none;}
#section3 .bg_section3 .bg1 {left: 0;}
#section3 .bg_section3 .bg2 {left: 0;}

#section3 .contbox .info ul {padding: 20px;}
#section3 .contbox .info ul li {width: 100%;}




/* subpage */


#visual_sub {width: 100%; min-height:400px; overflow: hidden; position: relative; background-position:center top;background-size:cover; background-repeat:no-repeat}

@keyframes visualText {
    0% {opacity: 0; margin-left:500px; margin-top: -100px;}
    100% {opacity: 1; margin-left: 0; margin-top: 0;}
}
#visual_sub .text_box {width: 100%;}
#visual_sub .text_box strong {width: 80%; left: 50%; top: 50%; transform: translate(-70%,30%); }
#visual_sub .text_box p:nth-of-type(1) {left: 50%; top: 50%; transform: translate(-60%,80%); width: 80%; }
#visual_sub .text_box p:nth-of-type(2) {left: 50%; top: 50%; transform: translate(-40%,105%); width: 70%; }
#visual_sub .text_box img {width: 100%;}




#section_sub {position: relative;min-height: 300px; background: #fff; padding-bottom: 300px;}
#section_sub .bgtop {position: absolute; width: 100%; bottom:calc(100% - 20px);}
#section_sub .bgtop img {width: 100%;}



.bd_tmb_lst {font-family: 'Pretendard' !important}
.rd_hd .board h1 {font-size: 18px; font-weight: 600;font-family: 'Pretendard' !important}
.xe_content {font-size: 18px; font-weight: 400;font-family: 'Pretendard' !important}
.bd_tmb_lst p b {font-size: 18px; font-weight: 400;font-family: 'Pretendard' !important}
.rd_hd .board .nick {font-size: 18px; font-weight: 400;font-family: 'Pretendard' !important}